<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.appinfo.AppInfoMapper">
	<!-- 根据id删除APPInfo基础信息 -->
	<delete id="deleteAppInfo" parameterType="String">
		delete from app_info  where id=#{id}
	</delete>
	<!-- 更新AppInfo基础信息 -->
	<update id="modifyAppInfo" parameterType="AppInfo">
		update app_info set 
		softwareName=#{softwareName},APKName=#{APKName},supportROM=#{supportROM},
		interfaceLanguage=#{interfaceLanguage},softwareSize=#{softwareSize},appInfo=#{appInfo},
		status=#{status},flatformId=#{flatformId},categoryLevel1=#{categoryLevel1},
		categoryLevel2=#{categoryLevel2},categoryLevel3=#{categoryLevel3},downloads=#{downloads},
		modifyBy=#{modifyBy},modifyDate=#{modifyDate},logoPicPath=#{logoPicPath},logoLocPath=#{logoLocPath}
		where
		id=#{id}
	</update>
	<!-- 增加APPInfo信息 -->
	<insert id="addAppInfo" parameterType="AppInfo">
		insert into
		app_info(softwareName,APKName,supportROM,interfaceLanguage,softwareSize,
		devId,appInfo,status,flatformId,categoryLevel1,categoryLevel2,categoryLevel3,
		downloads,createdBy,creationDate,logoPicPath,logoLocPath)
		values
		(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{softwareSize},
		#{devId},#{appInfo},#{status},#{flatformId},#{categoryLevel1},#{categoryLevel2},
		#{categoryLevel3},#{downloads},#{createdBy},#{creationDate},#{logoPicPath},
		#{logoLocPath})
	</insert>
	<!--根据id查询APPInfo的基础信息  -->
	<select id="getAppInfoById" parameterType="String" resultType="AppInfo">
	 select a.*,
		(select u.devName from dev_user u where a.devId=u.id) as devName,
		(select d.valueName from data_dictionary d where a.status=d.valueId and
		typeCode='APP_STATUS')as statusName,
		(select d.valueName from data_dictionary d where a.flatformId=d.valueId and
		typeCode='APP_FLATFORM') as flatformName,
		(select c.categoryName from app_category c where a.categoryLevel1=c.id)as
		categoryLevel1Name,
		(select c.categoryName from app_category c where a.categoryLevel2=c.id)as
		categoryLevel2Name,
		(select c.categoryName from app_category c where a.categoryLevel3=c.id)as
		categoryLevel3Name,
		(select v.versionNo from app_version v where a.versionId=v.id)as versionNo
		from app_info a
		where id=#{id}
	</select>
	<!--判断软件名称是否存在 -->
	<select id="softwareNameisExist" parameterType="String"
		resultType="int">
		select count(1) from app_info where softwareName=#{softwareName}
	</select>
	<!-- 判断APK名称是否存在 -->
	<select id="APKNameisExist" parameterType="String"
		resultType="int">
		select count(1) from app_info where APKName=#{APKName}
	</select>
	<!-- 获取App信息列表 -->
	<select id="getAppInfoList" resultType="AppInfo">
		select a.*,
		(select u.devName from dev_user u where a.devId=u.id) as devName,
		(select d.valueName from data_dictionary d where a.status=d.valueId and
		typeCode='APP_STATUS')as statusName,
		(select d.valueName from data_dictionary d where a.flatformId=d.valueId and
		typeCode='APP_FLATFORM') as flatformName,
		(select c.categoryName from app_category c where a.categoryLevel1=c.id)as
		categoryLevel1Name,
		(select c.categoryName from app_category c where a.categoryLevel2=c.id)as
		categoryLevel2Name,
		(select c.categoryName from app_category c where a.categoryLevel3=c.id)as
		categoryLevel3Name,
		(select v.versionNo from app_version v where a.versionId=v.id)as versionNo
		from app_info a
		<trim prefix="where" prefixOverrides="and|or">
			<if test="devId!=null and devId>0">
				and devId=#{devId}
			</if>
			<if test="softwareName!=null and softwareName!=''">
				and softwareName like CONCAT('%',#{softwareName},'%')
			</if>
			<if test="status!=null and status>0">
				and status=#{status}
			</if>
			<if test="flatformId!=null and flatformId>0">
				and flatformId=#{flatformId}
			</if>
			<if test="categoryLevel1!=null and categoryLevel1>0">
				and categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=null and categoryLevel2>0">
				and categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=null and categoryLevel3>0">
				and categoryLevel3=#{categoryLevel3}
			</if>
		</trim>
		order by creationDate DESC limit #{pageIndex},#{pageSize}
	</select>
	<!-- 根据用户条件查询app信息 -->
	<select id="getAppInCount" resultType="Integer">
		select count(1) from app_info
		<trim prefix="where" prefixOverrides="and|or">
			<if test="devId!=null and devId>0">
				and devId=#{devId}
			</if>
			<if test="softwareName!=null and softwareName!=''">
				and softwareName like CONCAT('%',#{softwareName},'%')
			</if>
			<if test="status!=null and status>0">
				and status=#{status}
			</if>
			<if test="flatformId!=null and flatformId>0">
				and flatformId=#{flatformId}
			</if>
			<if test="categoryLevel1!=null and categoryLevel1>0">
				and categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=null and categoryLevel2>0">
				and categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=null and categoryLevel3>0">
				and categoryLevel3=#{categoryLevel3}
			</if>
		</trim>
	</select>









</mapper>