<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appinfo.dao.datadictionary.DataDictionaryMapper">

	<!-- List<DataDictionary> listDataDictionaryByTypeCode(@Param("typeCode")String typeCode); -->
	<select id="listDataDictionaryByTypeCode" resultType="DataDictionary">
		select *
			from data_dictionary
				where typeCode = #{typeCode}
	</select>

</mapper>
  